*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	/* font-family:'Courier New', Courier, monospace , sans-serif; */
	/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.section{
	width: 100%;
	min-height: 100vh;
	background-color: #00509d;
	font-family: 'Courier New', Courier, monospace;
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 125px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}

.content{
    color: #fff;
}

.button{
	margin-top: 30px;
}

input{
	background-color: #ffd500;
	padding:12px 40px;
	color:#00509d;
	font-size: 25px;
    font-weight: bold;
    border: 0;
}

h3 {
	margin-top: 20px;
	color: #fff;
	font-size: 25px;
}

p {
	margin-top: 10px;
	font-size: 18px;
}

.programs{
	display: block;
}

table{
	border: 1.5px solid lightcyan;
	border-collapse: collapse;
}

td{
	border: 1px solid lightcyan;
}